In [23]:
#dolar
#euro
#ouro
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

navegador = webdriver.Chrome("chromedriver.exe")

#passo 1: pegar a cotacao do Dolar 

# entrar no site do google
# pesquisar cotacao dolar 
# pegar a cotacao do site do google

navegador.get("https://www.google.com/")

navegador.find_element_by_xpath(
    '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("cotacao do dolar")

navegador.find_element_by_xpath(
    '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)

cotacao_dolar = navegador.find_element_by_xpath(
   ' //*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute("data-value")
cd = "{:.2f}".format(cotacao_dolar)
print(f'A cotacao do dolar: {cd}')


#passo 2: pegar a cotacao do Euro
navegador.get("https://www.google.com/")

navegador.find_element_by_xpath(
    '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("cotacao do euro")

navegador.find_element_by_xpath(
    '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)
cotacao_euro = navegador.find_element_by_xpath(
   ' //*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute("data-value")
print(f'A cotacao do euro: {cotacao_euro}')
#passo 3: pegar a cotacao do ouro
navegador.get("https://www.melhorcambio.com/ouro-hoje")

cotacao_do_ouro = navegador.find_element_by_xpath(
    '//*[@id="comercial"]').get_attribute("value")
cotacao_do_ouro = cotacao_do_ouro.replace(",", ".")

print((f'cotacao do ouro: {cotacao_do_ouro:}'))

navegador.quit()

# instalar o selenium 
# baixar o webdriver

ValueError: Unknown format code 'f' for object of type 'str'

In [17]:
#passo 4: importar a base de dados 
import pandas as pd
tabela = pd.read_excel("Produtos.xlsx")
display(tabela)

,Produtos,Preço Base Original,Moeda,Cotação,Preço Base Reais,Margem,Preço Final
0,Câmera Canon,999.99,Dólar,5,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,6,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,6,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,350,7000.00,1.15,8050.000

In [18]:
# Passo 5: Recalcular o preço de cada produto
# atualizar a cotação
# nas linhas onde na coluna "Moeda" = Dólar
tabela.loc[tabela["Moeda"] == "Dólar", "Cotação"] = float(cotacao_dolar)
tabela.loc[tabela["Moeda"] == "Euro", "Cotação"] = float(cotacao_euro)
tabela.loc[tabela["Moeda"] == "Ouro", "Cotação"] = float(cotacao_do_ouro)

# atualizar o preço base reais (preço base original * cotação)
tabela["Preço Base Reais"] = tabela["Preço Base Original"] * tabela["Cotação"]

# atualizar o preço final (preço base reais * Margem)
tabela["Preço Final"] = tabela["Preço Base Reais"] * tabela["Margem"]

tabela["Preço Final"] = tabela["Preço Final"].map("R${:,.2f}".format)

display(tabela)

,Produtos,Preço Base Original,Moeda,Cotação,Preço Base Reais,Margem,Preço Final
0,Câmera Canon,999.99,Dólar,5.507200,5507.144928,1.40,"R$7,710.00"
1,Carro Renault,4500.00,Euro,6.396033,28782.149670,2.00,"R$57,564.30"
2,Notebook Dell,899.99,Dólar,5.507200,4956.424928,1.70,"R$8,425.92"
3,IPhone,799.00,Dólar,5.507200,4400.252800,1.70,"R$7,480.43"
4,Carro Fiat,3000.00,Euro,6.396033,19188.099780,1.90,"R$36,457.39"
5,Celular Xiaomi,480.48,Dólar,5.507200,2646.099456,2.00,"R$5,292.20"
6,Joia 20g,20.00,Ouro,312.870000,6257.400000,1.15,"R$7,196.01"

In [6]:
#passo 6: exportar o relatorio atualizado 
tabela.to_excel("Produtos Novo.xlsx", index=False)